#############
## IDEA
#############

.idea
*.iml
*.iws
*.ipr
.classpath
.project
.settings
/*.launch
/*.tmproj
stacktrace.log
/test/reports
*.war
*.iws
.settings
stacktrace.log
/*.zip
/plugin.xml
*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes

.gradle
/build/

